src/main/mule/router.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    <apikit:config name="greenworks-mule-papi-bestbuy-config" api="resource::ea4d5803-1d3e-458c-9054-8d2bda511bef:greenworks-mule-papi-bestbuy:1.0.1:raml:zip:greenworks-mule-papi-bestbuy.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <flow name="greenworks-mule-papi-bestbuy-main">
        <http:listener config-ref="HTTPListener" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="greenworks-mule-papi-bestbuy-config" />
        <error-handler ref="global-error-handler" />
    </flow>
    <flow name="get:\health:greenworks-mule-papi-bestbuy-config">
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  status: "UP"
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        <error-handler ref="global-error-handler" />
    </flow>
    <flow name="post:\inventory:application\json:greenworks-mule-papi-bestbuy-config">
        <flow-ref doc:name="update-bestbuy-offer-inventory" doc:id="2355642a-c207-4c3a-b66d-236abfd77a75" name="update-bestbuy-offer-inventory" />
		<error-handler ref="global-error-handler" />
    </flow>
    <flow name="post:\orders\shipments:application\json:greenworks-mule-papi-bestbuy-config">
        <flow-ref doc:name="update-bestbuy-shipment-details" doc:id="ae477d4f-d6a1-4876-ac96-97a610e207c1" name="update-bestbuy-shipment-details" />
		<error-handler ref="global-error-handler" />
    </flow>
</mule>
